body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
}

App {
  height: 100vh;
}

svg {
  transform: scale(.3) translate(-200px,-230px);
  display: inline;
  position: absolute;
  width: 200px;
  height: 200px;
}


.logo-a {
  fill: #00B4D8;
  fill-opacity: 1
}
.logo-j {
  fill: #90E0EF;
  fill-opacity: 1
}
.logo-outline {
  stroke:#03045E;
  stroke-width:10px;
}
header {
  background-color: white;
  height: 80px;
  border-bottom: 2px solid #03045E;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  left: 0;
}

.header-links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 52px;
  background-color: #FF8C00;
}
.header-links>a {
  padding: 5px 10px;
}
.header-links>a:hover {
  background-color:#03045E;
  color: white;
  cursor: pointer;
}

.label {
  position: absolute;
  display: inline-block;
  letter-spacing: .05rem;
  color: black;
  top: -10px;
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 78px;
  vertical-align: middle;
  left: 65px;
  font-size: 20pt;
  font-family: arial;
  font-weight: normal;
}

.alla {
 color: #03045E;
}
.jobb {
  color: #03045E;
}

.subheader {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #03045E;
}
.tagline {
  color: white;
  top: 35px;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  font-size: 12pt;
  font-family: helvetica;
}

main {
  font-family: helvetica;
  font-size: 12pt;
  background-size: cover;
  height: 100vh;
  top: 80px;
  position: relative;
}

.centerBox {
  width: 600px;
  margin-left: -300px;
  background-color: #03045E;
  left: 50%;
  position: relative;
  top: 50px;
}
.checkBox {
  display:flex;
  margin-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.checkBox img {
  width: 32px;
  height: 32px;
  filter: invert(100%);
}
.checkBox > div:nth-child(2) {
  line-height: 32px;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 14pt;
  color: white;
}
